<h2>Word: <%= @word.string %></h2>

<h4>Recent Tweets:</h4>
<ol>
  <% @tweets.each do |t| %>
    <li>
      <% if url = t.tweet_url %>
        <%= link_to t.time, url %>
      <% else %>
        <%= t.time %>
      <% end %>
      <%= t.text %>
    </li>
  <% end %>
</ol>
